$brand-color: #70b597;

$font-color-first: #201a30;
$font-color-second: white;
$font-color-third: $brand-color;

$bg-color-first: white;
$bg-color-second: #f9f9f9;
$bg-color-third: $font-color-first;

$cta-color-first: #f96061;
$cta-color-second: $brand-color;
