<footer>
  <div class="footer-col">
    <div class="title">LINKS ÚTEIS</div>
    <div class="content">
      <ul>
        <li><a href="#">Garantia SafeStuff</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Termos de Serviço</a></li>
        <li><a href="#">Política de Privacidade</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-col">
    <div class="title">CONNECT</div>
    <div class="content">
      <ul>
        <li>
          <label for="email">Não percas as novidades!</label> <br />
          <input id="email" placeholder="O teu email"><button>SUBSCREVER</button></li>
        <li><a href="#">
            <img class="fa-facebook">Like and share
          </a></li>
        <li><a href="#"><img class="fa-insta" />Follow us</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-col">
    <div class="title">PARA MAIS INFORMAÇÕES:</div>
    <div class="content">
      <a id="logo" href="https://rnters.com/pt">
        <img src="./../../../../assets/r_green.png" alt="green rnters logo">
      </a>
      <ul>
        <li><a href="#">English</a>|&nbsp;<a href="#"> Português</a> </li>
        <li><a href="#"><i class="material-icons">email</i>info@rnters.com</a></li>
        <li>2016-2020 Rnters ©</li>
      </ul>
    </div>
  </div>
</footer>
