/* You can add global styles to this file, and also import other style files */
@import "./stylings";

@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color-second;
  font-family: Roboto;
  color: $font-color-first;
  a {
    color: $font-color-first;
  }
}

header,
main,
footer {
  width: 80%;
  margin: 0 auto;
}

button,
a {
  cursor: pointer;
  border: 0;
}

.cta,
.cta-border,
.cta-second,
.cta-border,
.cta-second-border {
  padding: 8px;
  border-radius: 4px;
}

button {
  &.cta {
    background-color: $cta-color-first;
    color: $font-color-second;
    &:not(:disabled):hover {
      background-color: $cta-color-first-dark;
    }
    &:disabled {
      background-color: rgba($cta-color-first, 0.5);
      cursor: default;
    }
  }

  &.cta-border {
    background-color: rgba($cta-color-first, 0);
    color: $cta-color-first;
    border: 1px solid $cta-color-first;
    &:hover {
      background-color: $cta-color-first;
      color: $font-color-second;
    }
  }

  &.cta-second {
    font-weight: 700;
    background-color: $cta-color-second;
    color: $font-color-second;
    &:hover {
      // background-color: $cta-color-second-dark;
    }
  }

  &.cta-second-border {
    background-color: rgba($cta-color-second, 0);
    color: $cta-color-second;
    border: 1px solid $cta-color-second;
    &:hover {
      background-color: $cta-color-second;
      color: $font-color-second;
    }
  }
}

.alert {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  background-color: $alert-color;
  color: $font-color-second;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
